{{ define "title" }}Foosball Monkey - Add Team{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li class="active"><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>Add Team</h1>

    <!-- JQuery Form Validation Plugin -->
    <script src="/js/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#addteam-form').validate(
            {
                rules: {
                    name: {
                        minlength: 2,
                        required: true
                    }
                },
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                },
                success: function(label) {
                    $(label)
                    .text('OK!').addClass('valid')
                    .closest('.control-group').addClass('success');
                }
            });
        });
    </script>

    <form class="form-horizontal" id="addteam-form" action="/teams/addHandler" method="post">
        <fieldset>
            <legend>Add Team</legend>
            
            <div class="control-group">
                <label class="control-label" for="name">Team Name</label>
                <div class="controls">
                    <input type="text" name="name" id="name" placeholder="Type the team name…">
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn" value="Reset">Cancel</button>
            </div>
        </fieldset>
    </form>

{{ end }}