{{ define "title" }}Foosball Monkey - Add Game{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li class="active"><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>Add Foosball Game</h1>

    <!-- JQuery Form Validation Plugin -->
    <script src="/js/jquery.validate.min.js"></script>

    <!--
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
    </script>
    -->

    <script>
    function calculate_date() {
        currentTime = new Date();
        day         = currentTime.getDate();
        year        = currentTime.getFullYear();
        month       = currentTime.getMonth() + 1;
        calcdate    = year + "-" + month + "-" + day;
        return calcdate;
    }

    function prepopulate_date() {
        document.getElementById("datepicker").setAttribute('value', calculate_date());
    }

    window.onload = prepopulate_date;
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#addgame-form').validate(
            {
                rules: {
                    offenderA: {
                        required: true
                    },
                    defenderA: {
                        required: true
                    },
                    offenderB: {
                        required: true
                    },
                    defenderB: {
                        required: true
                    },
                    scoreA: {
                        required: true
                    },
                    scoreB: {
                        required: true
                    },
                    winner: {
                        required: true
                    },
                    timestamp: {
                        date: true,
                        required: true
                    }
                },
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                },
                success: function(label) {
                    $(label)
                    .text('OK!').addClass('valid')
                    .closest('.control-group').addClass('success');
                }
            });
        });
    </script>

    <form class="form-horizontal" id="addgame-form" action="/games/addHandler" method="post">
        <fieldset>
            <legend>Add Foosball Game</legend>
            
            <div class="control-group">
                <label class="control-label" for="timestamp">Date of Game</label>
                <div class="controls">
                    <input type="datetime" name="timestamp" id="datepicker" placeholder="YYYY-MM-DD">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="offenderA">Offender A</label>
                <div class="controls">
                    <select name="offenderA" id="offenderA">
                    {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{ end }}
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="defenderA">Defender A</label>
                <div class="controls">
                    <select name="defenderA" id="defenderA">
                    {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{ end }}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="offenderB">Offender B</label>
                <div class="controls">
                    <select name="offenderB" id="offenderB">
                    {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{ end }}
                    </select>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="defenderB">Defender B</label>
                <div class="controls">
                    <select name="defenderB" id="defenderB">
                    {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{ end }}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="scoreA">Score A</label>
                <div class="controls">
                    <input type="number" min="0" name="scoreA" id="scoreA" placeholder="Ending score for team A">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="scoreB">Score B</label>
                <div class="controls">
                    <input type="number" min="0" name="scoreB" id="scoreB" placeholder="Ending score for team B">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="winner">Winning Team</label>
                <div class="controls">
                    <select name="winner" id="winner">
                        <option value="A">A</option>
                        <option value="B">B</option>
                    </select>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn" value="Reset">Cancel</button>
            </div>
        </fieldset>
    </form>

{{ end }}