{{ define "title" }}Foosball Monkey - Add Player{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>Add Foosball Player</h1>

    <!-- JQuery Form Validation Plugin -->
    <script src="/js/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#addplayer-form').validate(
            {
                rules: {
                    name: {
                        minlength: 1,
                        required: true
                    },
                    email: {
                        required: true
                    },
                    tagline: {
                        required: true
                    }
                },
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                },
                success: function(label) {
                    $(label)
                    .text('OK!').addClass('valid')
                    .closest('.control-group').addClass('success');
                }
            });
        });
    </script>

    <form class="form-horizontal" id="addplayer-form" action="/players/addHandler" method="post">
        <fieldset>
            <legend>Add Foosball Player</legend>
            
            <div class="control-group">
                <label class="control-label" for="name">Player name</label>
                <div class="controls">
                    <input type="text" name="name" id="name" placeholder="Please type full name">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="email">Player email</label>
                <div class="controls">
                    <input type="email" name="email" id="email" placeholder="Used for gravatar support">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="tagline">Tagline</label>
                <div class="controls">
                    <input type="text" name="tagline" id="tagline" placeholder="Short statement about yourself">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="team">Team</label>
                <div class="controls">
                    <select name="team" id="team">
                        {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                        {{ end }}
                    </select>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn" value="Reset">Cancel</button>
            </div>
        </fieldset>
    </form>

{{ end }}