{{ define "title" }}Foosball Monkey - Add Game{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li class="active"><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>Add Foosball Game</h1>

    <form class="form-horizontal" id="addgame-form" action="/games/addHandler" method="post">
        <fieldset>
            <legend>Add Foosball Game</legend>
            
            <div class="control-group">
                <label class="control-label" for="offenderA">Offender A</label>
                <div class="controls">
                    <input type="number" name="offenderA" id="offenderA" placeholder="Please type Offender A's ID">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="defenderA">Defender A</label>
                <div class="controls">
                    <input type="number" name="defenderA" id="defenderA" placeholder="Please type Defender A's ID">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="offenderB">Offender B</label>
                <div class="controls">
                    <input type="number" name="offenderB" id="offenderB" placeholder="Please type Offender B's ID">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="defenderB">Defender B</label>
                <div class="controls">
                    <input type="number" name="defenderB" id="defenderB" placeholder="Please type Defender B's ID">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="scoreA">Score A</label>
                <div class="controls">
                    <input type="number" name="scoreA" id="scoreA" placeholder="Ending score for team A">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="scoreB">Score B</label>
                <div class="controls">
                    <input type="number" name="scoreB" id="scoreB" placeholder="Ending score for team B">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="winner">Winning Team</label>
                <div class="controls">
                    <input type="text" name="winner" id="winner" placeholder="Choose winner">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="timestamp">Date and Time of Game</label>
                <div class="controls">
                    <input type="datetime" name="timestamp" id="timestamp" placeholder="Fix this to be a dropdown?">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn" value="Reset">Cancel</button>
            </div>
        </fieldset>
    </form>

{{ end }}