{{ define "title" }}Foosball Monkey - Delete Team{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li class="active"><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>Delete Team</h1>

    <form class="form-horizontal" id="deleteteam-form" action="/teams/deleteHandler" method="post">
        <fieldset>
            <legend>Delete Team</legend>
            
            <div class="control-group">
                <label class="control-label" for="name">Team to Delete</label>
                <div class="controls">
                    <select name="name" id="name">
                    {{range .}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{ end }}
                    </select>
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                <button type="reset" class="btn" value="Reset">Cancel</button>
            </div>
        </fieldset>
    </form>

{{ end }}