{{ define "title" }}Foosball Monkey - Home{{ end }}

{{ define "menu" }}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    <div class="hero-unit">
        <h1>Foosball Monkey</h1>
        <img src="img/foosball_pic.jpg" class="img-polaroid" style="float:right" width="300" height="200">
        <p>
            Use this site to track foosball games, statistics, and rankings.
        </p>
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    </div>

    <h1>Welcome To Foosball Monkey</h1>

        <p> Built to keep track of foosball games, statistics, rankings, and more. </p>
        <br>
        <br>

        <div class="row">
            <div class="span4">
                <h2>Latest Games</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Player Rankings</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Table Availability</h2>
                <p>This feature is currently unavailable. Once the "foosball webcam" has been sucessfully bought, installed, and configured, you will be able to view it by clicking the button below. Alternatively, if enough people agree to use it, the queue functionality can be used to reserve the table.</p>
                <p><a class="btn" href="#">View webcam &raquo;</a> <a class="btn" href="/queue">View queue &raquo;</a></p>
            </div>
        </div>

{{ end }}