{{ define "title" }}Foosball Monkey - Home{{ end }}

{{ define "menu" }}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    <div class="hero-unit">
        <h1>Foosball Monkey</h1>
        <img src="img/foosball_pic.jpg" class="img-polaroid" style="float:right" width="300" height="200">
        <p>
            Use this site to track foosball games, statistics, and rankings.
        </p>
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    </div>

    <h1>View the table</h1>

        <p><a class="btn btn-primary btn-large">Click here &raquo;</a> (This functionality is currently unavailable, but once the webcam is bought, installed, and configured, this will point to a live feed of the table.) </p>
        <br>
        <br>

        <div class="row">
            <div class="span4">
                <h2>Add A Game</h2>
                <p>Add the games you play to Foosball Monkey in order to keep the rankings, and other statistics up to date. </p>
                <p><a class="btn" href="/games/add">Add game &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Rankings</h2>
                <p>Using the recorded games, Foosball Monkey generates statistics and rankings for all players and teams. </p>
                <p><a class="btn" href="/rankings">View rankings &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Table Queue</h2>
                <p>Add yourself to the table queue if you want to play and the table is currently occupied. This functionality is not yet implemented. </p>
                <p><a class="btn" href="/queue">View queue &raquo;</a></p>
            </div>
        </div>

{{ end }}