{{ define "title" }}Foosball Monkey - Players{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}
    
    <h1>List of Players</h1>

    <ul class="pager">
        <li><a href="/players/add">Add Player</a></li>
        <li><a href="/players/delete">Delete Player</a></li>
    </ul>

    <table class="table table-striped table-bordered table-hover">
        <caption>Table of all the known players</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Tagline</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody data-provides="rowlink">
            {{range .}}
            <tr>
                <td><a href="/players/{{.Id}}">{{.Id}}</a></td>
                <td><img src="http://www.gravatar.com/avatar/{{.Email_md5}}" class="img-rounded"></td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>{{.Tagline}}</td>
                <td>{{.Team}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

{{ end }}