{{ define "title" }}Foosball Monkey - Team Profile{{ end }}

{{ define "menu" }}
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/games">Games</a></li>
    <li class="active"><a href="/teams">Teams</a></li>
    <li><a href="/rankings">Rankings</a></li>
    <li><a href="/queue">Queue</a></li>
{{ end }}

{{ define "content" }}

<h1>Team Profile: {{.Name}}</h1>

<div class="row-fluid">
  
    <div class="span2">
        <h2>{{.Name}}</h2>
    </div>

    <div class="span8">
        <ul>
        {{range $index, $element := .Members}}
            {{if mod0 $index 4 }}
                <p>Top works!</p>
            {{end}}
            <div class="row">
                <div class="span8">
                    {{$element.Name}}
                    <img src="http://www.gravatar.com/avatar/{{$element.Email_md5}}" class="img-rounded">
                </div>
            </div>
            {{if mod0 $index 3 }}
                <p>Bottom works</p>
            {{end}}
        {{end}}
        </ul>
    </div>

</div>

{{ end }}